{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Add Device {% endblock %}
{{ form.media }}
{% block body %}

      <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Add IOT Device</h1>
          </div>
          <div class="card col-lg-12 col-md-12">
            <ul class="messages">
              {% for message in messages %}
              <p {% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
              {% endfor %}
            </ul>
            <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group col-lg-8 col-md-8 mb-0">
                    {{ form.name | as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6 mb-4">
                      {{ form.location | as_crispy_field }}
                  </div>
                  <div class="form-group col-lg-6 col-md-6 mb-4 mt-4">
                      <button type="submit" class="btn btn-primary">Add</button>
                  </div>
            </form>
          </div>
        </div>
      <!-- End of Main Content -->
    </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Wittyminds Technology 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
  <!-- End of Page Wrapper -->

{% endblock %}
