{% extends 'layout.html' %}
{% load static %}
{% load leaflet_tags %}
{% block title %} Global {% endblock %}
{% block body %}
      <!-- Main Content -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Global IOT Data</h1>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 w-100">
            {% leaflet_map "gis" callback="window.our_layers" %}
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
    </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Wittyminds Technology 2020</span>
          </div>
        </div>
      </footer>
      <script type="text/javascript">
        function our_layers(map,options){
            var point = new L.GeoJSON.AJAX("{% url 'device_data' %}",{
                onEachFeature: function(feature, layer){
                    layer.bindPopup(feature.properties.name.toString());
                }
            });
            point.addTo(map);
        }
      </script>
      <!-- End of Footer -->
  <!-- End of Page Wrapper -->

{% endblock %}
